*{
    color:#fff;
}
.bg-top{
    background-color: #000000;
}
.bg-top img{
    background-size: contain;
}
.bgnav{
    background-color: transparent;
    border:none;
}
.separator{
    height: 1px;
    background: #606060;
}
.brnav{
    width: 100%;
}
.brnav li {
    width: 16.66666%;
}
.navbar-default .navbar-nav>li>a {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.button-st{
  display: inline-block;  
}


input[type="radio"]{
    display: none;
    
}

input[type=radio]:checked + .lbl2{
    color: #fff;
    border-bottom: 30px solid #f68235;
	border-left: 7px solid transparent;
	width: 30%;
    padding-right: 10px;
}
input[type=radio]+ .lbl2{
    background-color: #e5e5e5;
    color: #000000;
    line-height: 34px;
    margin: 15px -2px;
    text-align: center;
    display: inline-block;
    height: 30px;
    padding-right: 9px;
    width: 30%;
}
input[type=radio]:checked + .lbl1{
    color: #fff;
        border-bottom: 30px solid #f68235;
    border-left: 0px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 30%;
    padding-left: 10px;
}
input[type=radio]+ .lbl1{
    background-color: #e5e5e5;
    color: #000000;
    line-height: 34px;
    margin: 15px -2px;
    text-align: center;
    width: 30%;
    display: inline-block;
    height: 30px;
    padding-left: 10px;
}
.lbl1{
    box-sizing: border-box;
}
.lbl1 img{
    width: 100%;
    height: 100%;
}
.phone img, .login img, .basket img{
    width: 30px;
    height: 30px;
    border: 1px solid #f68235;
    border-radius: 50%;
    padding: 5px;
    box-sizing: border-box;
}
.phone{
/*
    background-image: url(../img/phone.png);
    width: 30px;
    height: 30px;
    background-size: contain;
*/
    
}